.contato__card {    
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: top 1.25rem left 1.25rem;
    padding: 2rem 0 2rem 5rem;
    margin-bottom: 2rem;    
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 32px;    
}

.contato__card:hover {
   background-color: #2F4F4F;
}

@media screen and (min-width: 768px) {
    .contato__card {
        width: 100vw;
        text-align: center;
        background-position: top 2rem left 5.25rem;
        background-size: 3rem;
    }
    
}

@media screen and (min-width: 1024px) {
    .contato__card {
        width: 100vw;
        text-align: center;
        background-position: top 1rem left 5.25rem;
        background-size: 5rem;
    }
    
}