.cabecalho__link {
    display: inline-block;
    font-size: 1.1rem;    
    margin: 0.2rem 0.7rem 1.25rem 0.7rem;    
}

.cabecalho__link:nth-child(:last-child) {
    margin-top: -1rem;
    
}

.cabecalho__link-a {
    color: #FFFFFF;
}

.cabecalho__link-a:hover, .cabecalho__link-a.ativo{
    color: #fdfdfd;   
    text-transform: uppercase;
    border-bottom: 2px solid #0073e6; 
}
