.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 2rem;    
    width: 100vw;
}

.copyright {
    color: #fff;
    font-weight: 700;
    text-align: center;
}