.rodape__link {
    display: inline-block;
    font-size: 1.1rem;    
    margin: 0 .5rem .7rem;  
}

.rodape__link:nth-child(:last-child) {
    margin-top: -1rem;
    
}

.rodape__link-a {
    color: #fff;   
}

.rodape__link-a:hover {   
    border-bottom: 2px solid #0073e6; 
}
