.corpo {
    font-family: 'Montserrat', sans-serif;        
}

.banner {
    width: 100vw;
}

@media screen and (min-width: 1024px) {
    .banner {
        width: 100vw;
        height: 100vh;
    }
       
}