.dicas {
    color: #fdfdfd;
}

.dicas__container {
    margin: 1px;
    letter-spacing: 1px;
    line-height: 1.5rem;
    color: aliceblue;
    padding: 0 1rem;
}

.dicas__titulo {
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    padding: .5rem 1rem;
    font-weight: 400;
    font-style: italic;
    text-align: left;
}

.dicas__titulo--h3 {
    color: #6da8db;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}

.dicas__codigo {
    background-color: #4f52528a;
    border: 1px solid #4f52528a;
    color: #0073e6;
    
}

.dicas__texto {
    letter-spacing: 1px; 
    line-height: 1.5rem;
}

.sobre__subtitulos--ancora {
    color: #0073e6;
    text-decoration: underline;
}

