.dicas__container {
    margin: 1px;
    letter-spacing: 1px;
    line-height: 1.5rem;
    color: aliceblue;
    padding: 0 1rem;
}

@media screen and (min-width: 768px) {
    .dicas__container {
        font-size: 1em;
        letter-spacing: 2px;
    }
}

@media screen and (min-width: 1024px) {
    .dicas__container {
        font-size: 1.3em;
        line-height: 35px;
    }
}