.dicas__codigo {
    background-color: #4f52528a;
    border: 1px solid #4f52528a;
    color: #0073e6;    
}

@media screen and (min-width: 768px) {
    .dicas__codigo {
        font-size: 1em;
        letter-spacing: 2px; 
    }
}

@media screen and (min-width: 1024px) {
    .dicas__codigo {
        font-size: 1.3em;
        line-height: 35px;
    }
}