.dicas__titulo {
    font-family: 'Courier New', Courier, monospace;
    color: #fdfdfd;
    padding: .5rem 1rem;
    font-weight: 400;
    font-style: italic;
    text-align: left;
}

.dicas__titulo--h2 {
    color: #6da8db;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}

.dicas__titulo--h3 {
    color: #6da8db;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}