.conteudoPrincipal__paragrafo {
    color: #fdfdfd;
    padding: 1rem;
    letter-spacing: .5px; 
    line-height: 31px;
}

@media screen and (min-width: 768px) {
    .conteudoPrincipal__paragrafo {
        font-size: 1em;
        letter-spacing: 2px;        
    }
}

@media screen and (min-width: 1024px) {
    .conteudoPrincipal__paragrafo {
        font-size: 1.2em;
        line-height: 35px;
    }
}